@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed:wght@400;700&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: 'Barlow', sans-serif;
    font-size: 18px;
    overflow: hidden;
    width: 100%;
    height: 100vh;
    position: relative;
}

/*Navbar*/

ul li .nav-link{
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 700;
    color: hsl(230, 29%, 20%);
    margin-left: 3em;
    text-transform: uppercase;
}

ul li .nav-link:hover{
    color: hsl(230, 29%, 20%);
    text-decoration: underline;
}

ul li{
    display: flex;
}

.navbar-toggler{
   border: none;
}

.navbar-toggler:focus{
    box-shadow: none;
}

.offcavas-header button{
    outline: none;
    border: none;
}

ul li .login-link{
    color: hsl(230, 11%, 40%);
}

ul li .login-link:hover{
    color: hsl(230, 11%, 40%);
    text-decoration: underline;
}

.circle{
    align-self: center;
    display: block;
    margin-left: 2.5em;
    width: 8px;
    height: 8px;
    background: hsl(231, 7%, 65%);
    border-radius: 50%;
}

/*Navbar Mobile*/
#navbar-mobile{
    width: 100%;
    left: 0;
    margin-top: 20em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar-mobile-nav{
    background-color: #fff;
    box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.6);
    padding: 1em 2em;
}

#navbar-mobile ul li .nav-link{
    width: 100%;
    margin-left: 0;
}

#navbar-mobile .login-link{
    margin-top: .8em;
}

.navbar-mobile-button{
    display: none;
    border: none;
    outline: none;
    background: transparent;
}

.bb-custom{
    border-bottom: 2px solid hsl(207, 33%, 95%);
    padding: 0 5em;
}

.closed{
    display: none;
}

.open{
    display: flex;
}

/*MAIN*/

main{
    margin-top: 2em;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

#illustration{
    width: 800px;
}

#bg-round{
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    height: 350px;
    border-radius: 0 0 0 32px;
    background: hsl(207, 33%, 95%);
    z-index: -1;
}

/*Media querrys*/

/*Extra small*/
@media screen and (min-width: 0px) and (max-width: 576px){
    #illustration{
        margin-left: 30%;
        width: 480px;
    }

    .navbar-mobile-button{
        display: block;
    }
}

/*Small*/
@media screen and (min-width: 577px) and (max-width: 768px){
    #illustration{
        width: 500px;
    }

    .navbar-mobile-button{
        display: block;
    }
}


/*Medium*/
@media screen and (min-width: 769px) and (max-width: 992px){
    #illustration{
        width: 650px;
    }
}


/*large*/
@media screen and (min-width: 993px) and (max-width: 1200px){
 
}

/*Extra Large*/
@media screen and (min-width: 1201px) and (max-width: 1400px){
 
}

/*Extra Extra Large*/
@media screen and (min-width: 1400px){
 
}